.bannerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

/* TEXT COL */
.firstCol {
  padding-left: 1rem;
  display: grid;
  place-items: center;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  width: 100%;
}

.firstCol h1 {
  font-family: "Cooper Lt BT";
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
}

.firstCol h2 {
  font-family: "Domine";
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 2rem 0rem;
}

/* IMAGE COL */
.secondCol {
  display: grid;
  place-items: center;
}

@media (max-width: 1100px) {
  .firstCol h1 {
    font-size: 3.8rem;
  }

  .firstCol h2 {
    margin: 0;
  }

  .firstCol,
  .secondCol {
    width: 50%;
  }

  .secondCol img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .bannerContainer {
    flex-direction: column-reverse;
  }

  .firstCol,
  .secondCol {
    width: 100%;
    text-align: center;
  }

  .firstCol h1 {
    font-size: 2.8rem;
  }

  .secondCol img {
    width: 330px;
    height: 330px;
  }
}

@media (max-width: 470px) {
  .firstCol {
    padding-left: 0;
  }
  .secondCol img {
    width: 100%;
  }
  .firstCol h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .firstCol h2 {
    font-size: 1.1rem;
  }
}
