.mobileContainer {
  margin: 4rem 0rem;
}

.mobileContainer button,
.startAcademyItem button,
.startAcademyContent,
.hdwMobile span,
.hdwSubTitle,
.proCardAnchor,
.enterpriseCardAnchor,
.cardBenefit,
.cardSecondBenefit,
.cardsList li {
  font-family: "Domine";
}

.startAcademyDescription h3,
.hdwMobile h5,
.hdwTitle,
.cardItemTitle,
.cardPrice {
  font-family: "Cooper lT BT";
}

.mobileContainer button {
  font-size: 1.2rem;
  padding: 12px 24px;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: var(--b-radius);
  box-shadow: var(--btn-shadow);
  border: none;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: var(--btn-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.mobileContainer button img {
  margin-right: 1rem;
}

.startAcademyItem {
  margin-bottom: 2rem;
}

.startAcademyItem button {
  background-color: var(--secondary-color);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 6px 8px;
  min-width: 45%;
  font-size: 1.2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.startAcademyItem button img {
  margin-right: 0.8rem;
}

.startAcademyDescription {
  background-color: var(--third-color);
  padding: 2rem;
  border-radius: 0 8px 8px 8px;
}

.startAcademyDescription h3 {
  margin-top: 0;
  font-size: 2rem;
}

.startAcademyContent {
  display: flex;
  justify-content: space-between;
}

.startAcademyContent div {
  padding-right: 2rem;
}

.startAcademyContentTitle {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.4;
}

.startAcademyContentDescription {
  line-height: 1.5;
}

/* HOW DOES IT WORKS MOBILE */
.hdwMobileContainer {
  margin-bottom: 4rem;
}

.hdwMobile {
  padding: 0rem 2rem;
}

.hdwMobile h5 {
  margin-top: 1.4rem;
  font-size: 2.4rem;
  text-align: center;
}

.hdwMobile span {
  display: block;
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.hdwTitle {
  font-size: 1.3rem;
  font-weight: bold;
}

.hdwSubTitle {
  font-size: 1.1rem;
  line-height: 1.4;
  letter-spacing: 1.1px;
  font-weight: normal;
}

.hdwMobileImg {
  width: 100%;
  display: grid;
  place-items: center;
}

.hdwMobileImg img {
  border-radius: var(--b-radius);
  box-shadow: var(--btn-shadow);
}

/* PRICING CARDS */
.pricingCardsContainer {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardItem {
  min-height: 550px;
  border: 1px solid yellow;
  padding: 1rem 1.2rem;
  margin: 4rem 2rem;
  background-color: #f6fafe;
  border: 1px solid #eaf2fa;
  border-radius: 10px;
  width: 35%;
}

.cardItemTitle {
  text-align: center;
  font-size: 2rem;
}

.innerContent {
  text-align: center;
  background-color: #fff;
  border: 1px solid #eaf2fa;
  border-radius: 10px;
  padding: 1.4rem 1.2rem;
  min-height: 300px;
}

.hiddenEl {
  opacity: 0;
}

.cardPrice {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
}

.cardBenefit {
  margin-top: 1.2rem;
}

.proCardAnchor {
  display: block;
  border-radius: var(--b-radius);
  box-shadow: var(--btn-shadow);
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem 0rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.enterpriseCardAnchor {
  display: block;
  border-radius: var(--b-radius);
  box-shadow: var(--btn-shadow);
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 1rem 0rem;
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.cardsList {
  list-style: none;
  padding-left: 1rem;
  margin-top: 1.6rem;
}

.cardsList li {
  margin-bottom: 1rem;
  letter-spacing: 1.1px;
  display: blocK;
}

@media (min-width: 1700px) {
  .cardBenefit,
  .cardSecondBenefit {
    margin-bottom: 1.8rem;
  }
}

@media (max-width: 1025px) {
  .cardItem {
    min-height: 750px;
  }
}

@media (max-width: 768px) {
  .pricingCardsContainer {
    flex-direction: column;
    margin: 2rem 0;
  }
  .cardItem {
    width: 80%;
    min-height: fit-content;
  }
}

@media (max-width: 426px) {
  .startAcademyDescription h3 {
    font-size: 1.6rem;
  }

  .startAcademyContent {
    flex-direction: column-reverse;
  }

  .mobileContainer button {
    font-size: 1rem;
  }

  .startAcademyItem button {
    min-width: 80%;
    font-size: 1rem;
  }

  .hdwMobile {
    padding: 0rem;
  }

  .mobileContainer {
    margin: 2rem 0rem;
  }

  .hdwMobile h5 {
    font-size: 2rem;
  }

  .pricingCardsContainer {
    margin: 1rem 0;
  }

  .cardItem {
    width: 90%;
    min-height: fit-content;
  }
}

@media (max-width: 376px) {
  .startAcademyDescription h3 {
    font-size: 1.4rem;
  }
  .startAcademyItem button {
    min-width: 90%;
  }
}
