.faqTitle,
.faqQuestion,
.faqQuestionSelected {
  font-family: "Cooper Lt BT";
}

.faqAnswer,
.faqSubTitle {
  font-family: "Domine";
}

.faqContainer {
  padding: 0 2rem;
}

.faqItem {
  margin-bottom: 2.8rem;
}

.faqTitle {
  text-align: center;
  font-size: 2.8rem;
}

.faqSubTitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
}

.faqQuestion {
  font-size: 1.4rem;
  cursor: pointer;
}

.faqQuestionSelected {
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
}

.faqAnswer {
  margin-left: 2rem;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

@media (max-width: 769px) {
  .faqSubTitle {
    padding: 0 2rem;
  }
}

@media (max-width: 426px) {
  .faqTitle {
    font-size: 2rem;
  }

  .faqSubTitle {
    font-size: 1.1rem;
  }
}
