:root {
  --primary-color: #52b56b;
  --secondary-color: #3f85ca;
  --third-color: #ecebf3;
  --white-color: #fff;
  --black-color: #000;
  --b-radius: 4px;
  --btn-shadow: 0 1px 4px rgb(26 26 67 / 10%);
}

@font-face {
  font-family: Cooper Lt BT;
  src: url(/fonts/CooperBoldBT.ttf);
  font-display: swap;
}

@font-face {
  font-family: Domine;
  src: url(/fonts/Domine-Regular.ttf);
  font-weight: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainContainer {
  border: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
}
