.howDoesItWorks {
  padding: 2rem 0rem;
}

.howDoesItWorks h5 {
  margin: 0;
  margin-bottom: 4rem;
  font-family: "Cooper Lt BT";
  font-size: 3rem;
  line-height: 1.6;
  text-align: center;
}

.skewContainer {
  position: relative;
  border: 1px solid salmon;
  margin-bottom: 5rem;
}
